<h1>Hi! Confirme ton email !</h1>

<p>
    Veuillez cliquer sur le lien pour valider vôtre adresse mail: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Le lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

