.events-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    margin: 20px auto;

    .event-date-container {
        width: calc(100% - 40px);
        padding: 20px;
        box-shadow: 5px 5px 5px var(--event-shadow);
        border-radius: 20px;
        background: var(--events-dates-container-bg-color);

        .event-date {
            width: calc(100% - 20px);
            text-align: right;
            font-size: 1.2em;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: var(--events-dates-bg-color);
            box-shadow: 2px 2px 5px var(--event-shadow);
            margin-bottom: 1em;
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            svg {
                width: 1em;
            }

            .line-separator {
                width: 100%;
                height: .5em;
                border-bottom: 2px dotted var(--txt-main-color);
            }
        }
    }
}

.pagination {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    div {
        width: 100px;
        text-align: center;
    }

    a {
        color: var(--events-a-color);
        text-decoration: none;

        &:hover {
            color: var(--events-a-color-hover);
            text-decoration: underline;
        }
    }
}

@media (max-width: 430px) {
    .events-container {
        width: 95%;
        margin:7px;
    }

    .list-event-responsive {
        display: none
    }
}