.events-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    margin: auto;

    .event {
        display: flex;
        width: 100%;
        background-color: var(--event-bg-color);
        border: none;
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 5px 5px 5px var(--event-shadow);

        .event-poster {
            width: 25%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .event-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .event-body {
                display: flex;
                height: 100%;

                .event-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;

                    h2 {
                        margin: 0;
                        padding: 10px;

                        a {
                            text-decoration: none;
                            font-weight: bold;
                            color: var(--a-color);

                            &:hover {
                                text-decoration: underline;
                                color: var(--a-color-hover);
                            }
                        }
                    }

                    p {
                        margin: 0;
                        padding: 0 20px;
                    }
                }

                .participants {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    width: 10%;

                    .event-organizer {
                        width: 80%;
                        aspect-ratio: 1 / 1;
                        margin: 0 auto;
                        border: 1px solid grey;
                        border-radius: 50%;
                    }

                    p {
                        margin: 0;
                    }
                }
            }

            .event-state {
                text-align: right;
                font-weight: bold;
                padding: 5px 20px;
            }

            .event-green {
                background-color: #b3ffb3;
                color: #04d804;
            }

            .event-red {
                background-color: #ffb2b2;
                color: red;
            }
        }
    }
}

.pagination {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    div {
        width: 100px;
        text-align: center;
    }

    a {
        color: var(--a-color);
        text-decoration: none;

        &:hover {
            color: var(--a-color-hover);
            text-decoration: underline;
        }
    }
}