.events-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 60%;
    margin: 20px auto;

    .event-date-container {
        width: calc(100% - 40px);
        padding: 20px;
        box-shadow: 5px 5px 5px var(--event-shadow);
        border-radius: 20px;
        background-color: var(--events-dates-container-bg-color);

        .event-date {
            width: calc(100% - 20px);
            text-align: right;
            font-size: 1.2em;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: var(--events-dates-bg-color);
            margin-bottom: 1em;
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            svg {
                width: 1em;
            }
        }
    }

    .event {
        display: flex;
        width: 100%;
        border: none;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 20px;
        background-color: var(--event-bg-color);
        transition: transform .3s ease;

        &:hover {
            transform: scale(1.02);
        }

        .event-poster {
            width: 25%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .event-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .event-body {
                display: flex;
                height: 100%;

                .event-description {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;

                    h2 {
                        margin: 0;
                        padding: 10px;

                        a {
                            text-decoration: none;
                            font-weight: bold;
                            color: var(--events-a-color);

                            &:hover {
                                text-decoration: underline;
                                color: var(--events-a-color-hover);
                            }
                        }
                    }

                    div {
                        margin: 0;
                        padding: 0 20px;

                        svg {
                            width: 1em;
                        }
                    }
                }

                .participants {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    width: 7em;

                    .event-organizer {
                        width: 60%;
                        aspect-ratio: 1 / 1;
                        margin: 0 auto;
                        border: 1px solid grey;
                        border-radius: 50%;
                    }

                    div {
                        margin: 0;

                        svg {
                            width: 1em;
                        }
                    }
                }
            }

            .event-state {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 1em;
                font-weight: bold;
                padding: 5px 20px;
                border-top: 1px solid var(--events-dates-container-bg-color);
            }

            .event-green, .event-red {
                width: 1em;
                height: 1em;
                border-radius: 100%;
            }

            .event-green {
                background-color: var(--green);
            }

            .event-red {
                background-color: var(--red);
            }
        }
    }
}

.pagination {
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    div {
        width: 100px;
        text-align: center;
    }

    a {
        color: var(--events-a-color);
        text-decoration: none;

        &:hover {
            color: var(--events-a-color-hover);
            text-decoration: underline;
        }
    }
}