:root {
    --header-bg-color: #3d86e1;
    --other-bg-color: #b9e1ff;
    --bg-main-color: #fff8f3;
    --txt-main-color: #114565;
    --event-bg-color: #ffffff;
    --a-color: #ffffff;
    --a-color-hover: #114565;
    --event-shadow: rgba(20, 115, 168, 0.6);
    --events-dates-container-bg-color: #c3f1ff;
    --events-dates-bg-color: #8ed7ff;
    --events-a-color: #8eddff;
    --events-a-color-hover: #5fc7ff;
    --events-color: #2e5268;
    --green: #89df45;
    --orange: #f67749;
    --red: #f64949;
    --margin-top: 67px;
}

body {
    background-color: var(--bg-main-color);
    margin: var(--margin-top) 0;
    padding: 0;
    overflow-x: hidden;
    color: var(--txt-main-color);

    &:hover{
        cursor: var(--cursor);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 80px);
        background-color: var(--header-bg-color);
        padding: 15px 40px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;

        .logo-nav {
            display: flex;
            align-items: baseline;
            gap: 20px;

            h1 {
                margin: 0;
            }

            a {
                color: var(--a-color);
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    color: var(--a-color-hover);
                    text-decoration: underline;
                }
            }
        }

        nav {
            .burger-container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 30px;
                height: 30px;
                background-color: transparent;
                border: 2px solid white;
                transform: rotate(45deg);

                &:hover {
                    #burger {
                        transform: scale(1);
                    }
                }

                .burgerBtn {
                    width: 20px;
                    height: 20px;
                    transform: rotate(-45deg);
                }

                #burger {
                    width: 20px;
                    height: 2px;
                    background-color: white;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    transform: scale(0.8);

                    &::before, &::after {
                        content: '';
                        width: 20px;
                        height: 2px;
                        background-color: white;
                        display: inline-block;
                        position: absolute;
                        transform-origin: center;
                        transition: all 0.5s ease;
                    }

                    &::before {
                        top: -7px;
                    }

                    &::after {
                        top: 7px;
                    }

                    &.open {
                        background: transparent;

                        &::before {
                            transform: rotate(45deg);
                            background-color: red;
                            top: 0;
                        }

                        &::after {
                            transform: rotate(-45deg);
                            background-color: red;
                            top: 0;
                        }
                    }
                }
            }

            #responsive {
                position: absolute;
                top: var(--margin-top);
                height: calc(100vh - var(--margin-top));
                right: 0;
                transform: translateX(100%);
                transition: transform .4s ease;
                background-color: var(--header-bg-color);
                margin: 0;

                &.open {
                    transform: translateX(0);
                    white-space: nowrap;
                }

                ul {
                    margin: 0 auto;
                    padding: 20px;
                    list-style-type: none;
                    border-bottom: 1px solid var(--bg-main-color);

                    li {
                        margin: 5px auto;
                    }
                }

                a {
                    color: var(--a-color);
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 7px;

                    svg {
                        width: 20px;
                    }

                    &:hover {
                        color: var(--a-color-hover);
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    main {
        width: 100%;
        margin-top: var(--margin-top);

        h2 {
            text-align: center;
        }
    }

    .profile-pic {
        width: 300px;
        height: 300px;
        margin: auto;
        border-radius: 100%;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    footer {
        text-align: center;
        padding: 10px;
        position: fixed;
        width: 40%;
        left: 30%;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        border-bottom: none;
    }
}

.alert {
    padding: 10px;
    text-align: center;
}