:root {
    --bg-main-color: white;
    --txt-main-color: black;
    --event-bg-color: #ffffff;
    --a-color: orange;
    --a-color-hover: #a54b0c;
    --event-shadow: rgba(20, 115, 168, 0.6);
}

body {
    margin: 0;
    padding: 0;
}
