{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Créer un groupe{% endblock %}

{% block main %}
    <h1>Créez un groupe privé pour vos sorties</h1>

    {% include 'includes/_form.html.twig' %}
{% endblock %}
