{% extends 'base.html.twig' %}

{% block title %}Créer un groupe{% endblock %}

{% block main %}
    <h1>Créez un groupe privé pour vos sorties</h1>

    {% include 'includes/_form.html.twig' %}
{% endblock %}

{#@todo supprimer le script après test du stimulus#}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>#}
{#    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>#}

{#    <script>#}
{#        function initSelect2() {#}

{#            $('.select2').select2({#}
{#                placeholder: "Sélectionnez les membres",#}
{#                allowClear: true,#}
{#                width: '100%'#}
{#            });#}
{#        }#}

{#        // quand je recharge la page : ça c'est ok#}
{#        document.addEventListener('DOMContentLoaded', function () {#}

{#            initSelect2();#}
{#        });#}

{#        // quand je clique sur le lien: à tester#}
{#        document.getElementById('create-group-link').addEventListener('click', function (e) {#}
{#            e.preventDefault();#}
{#            // initSelect2();#}
{#            // fetch('/group/create')#}
{#            //     .then(response => response.text())#}
{#            //     .then(html => {#}
{#            //         document.getElementById('form-container').innerHTML = html;#}
{#            //#}
{#            //         // et je réinitialise après injection du HTML ???? : à tester aussi#}
{#            //         initSelect2();#}
{#            //     });#}
{#        });#}
{#    </script>#}

{#{% endblock %}#}
