{% extends 'base.html.twig' %}

{% block title %}Créer un super event{% endblock %}

{% block main %}
    <h1> Créez une discothèque ou tout autre lieu d'ambiançage de jeune</h1>

{{ form(place_create) }}


{% endblock %}
