{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Préférences{% endblock %}

{% block main %}
    <div class="preferences-container">
        <div class="menu" data-controller="preferences">
            <button id="profile-btn" data-action="click->preferences#activeTag"
                    data-preferences-tag1-param="profile-btn"
                    data-preferences-tag2-param="theme-btn" class="link-btn active-tag">
                Éditer le profil
            </button>
            <button id="theme-btn" data-action="click->preferences#activeTag" data-preferences-tag1-param="theme-btn"
                    data-preferences-tag2-param="profile-btn" class="link-btn">
                Paramètres d'interface
            </button>
        </div>
        <div class="preferences">
            <div id="profile">
                {% include 'includes/edit.html.twig' %}
            </div>
            <div id="themes">
                <button data-themes-id-param="default" data-action="click->themes#setTheme" id="default"
                        class="link-btn">Thème par défaut
                </button>
                <button data-themes-id-param="dark-mode" data-action="click->themes#setTheme" id="dark-mode"
                        class="link-btn">Dark Mode
                </button>
                <button data-themes-id-param="pochi-pink" data-action="click->themes#setTheme" id="pochi-pink"
                        class="link-btn">Pochi Pink
                </button>
                <button data-themes-id-param="green-rex" data-action="click->themes#setTheme" id="green-rex"
                        class="link-btn">Green Rex
                </button>
                <button data-themes-id-param="brown-poop" data-action="click->themes#setTheme" id="brown-poop"
                        class="link-btn">Brown Poop
                </button>
                <button data-themes-id-param="creamy-rainbow" data-action="click->themes#setTheme" id="creamy-rainbow"
                        class="link-btn">Creamy Rainbow
                </button>
            </div>
        </div>
    </div>
{% endblock %}
