<h3>Bonjour {{ user.firstName }},</h3>

<p>Votre compte sur la plateforme ENI-SORTIR a été supprimé par l'administrateur</p>

<p>Pour de plus amples informations, consultez nos conditions générales d'utilisation.</p>

<p>À bientôt !</p>
