<h3>Bonjour {{ user.firstName }},</h3>

<p>Votre compte d'administrateur sur la plateforme ENI-SORTIR a été rétrogradé.</p>

<p>Pour de plus amples informations, consultez nos conditions générales d'utilisation.</p>

<p>À bientôt !</p>
